.title-vhung {
    color: red;
}

.hung {
    background-color: yellow;
}

.create-btn {
    margin-left: 20px;
}

.icon {
    color: red;
    font-size: 40px;
}
.btn-cancel {
    border: 2px solid #153AFF !important;
    border-radius: 8px;
    font-size: 10px;
    width: 50%;
}
.btn-yes {
    background-color: #153AFF !important;
    border-radius: 8px;
    border: 2px solid #153AFF !important;
    font-size: 10px;
    width: 50%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    //background-color: #2196F3;
    padding: 0px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
   // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 11px;
    text-align: left;
  }
  .grid-container-br {
    display: grid;
    grid-template-columns: auto ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container-br {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
.radiobutton{
  &:checked{
  background-color: #153AFF;

}
}